Repository rusconn/ts-graphql-example: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

perf: make logger singleton
  src/logger.ts
  src/modules/common/resolvers.ts
  src/modules/common/tests.ts
  src/server.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

fix: do graceful shutdown
  src/main.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

change(log): use pino to log queries in production
  src/prisma/client.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

feat: filter User.todos by status
  src/db/loaders/mod.ts
  src/db/loaders/userTodos.ts
  src/db/loaders/userTodosCount.ts
  src/modules/common/schema.ts
  src/modules/common/tests.ts
  src/modules/todo/User/todos.ts
  src/modules/todo/common/test.ts
  tests/modules/schema.ts
  tests/modules/todo/User/todos.test.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

perf: async logging
  src/logger.ts
  src/main.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

fix(test): fix the logger error in test
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

perf(test): speed up test by upgrading vitest
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(dev): upgrade @biomejs/biome
  biome.jsonc
  package.json
  pnpm-lock.yaml
  src/modules/common/resolvers.ts
  src/modules/todo/common/resolver.ts
  src/modules/user/common/resolver.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor: clean some codes
  package.json
  src/config.ts
  src/db/loaders/userTodos.ts
  src/logger.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

fix: externalize DATABASE_URL configuration
  .env.example
  .env.test
  package.json
  pnpm-lock.yaml
  src/config.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor: move env vars to .env* files
  .env.example
  .env.production
  .env.test
  package.json
Due: prettier --cache --write

refactor: add arrow parens
  biome.jsonc
  prisma/seeds/todo.ts
  prisma/seeds/user.ts
  src/db/loaders/common.ts
  src/db/loaders/todo.ts
  src/db/loaders/user.ts
  src/db/loaders/userTodos.ts
  src/db/loaders/userTodosCount.ts
  src/modules/common/cursor.ts
  src/modules/node/Query/node.ts
  src/modules/todo/Mutation/completeTodo.ts
  src/modules/todo/Mutation/createTodo.ts
  src/modules/todo/Mutation/deleteTodo.ts
  src/modules/todo/Mutation/uncompleteTodo.ts
  src/modules/todo/Mutation/updateTodo.ts
  src/modules/todo/User/todo.ts
  src/modules/todo/User/todos.ts
  src/modules/user/Mutation/deleteMe.ts
  src/modules/user/Mutation/login.ts
  src/modules/user/Mutation/logout.ts
  src/modules/user/Mutation/signup.ts
  src/modules/user/Mutation/updateMe.ts
  src/modules/user/Query/me.ts
  src/modules/user/Query/user.ts
  src/modules/user/Query/users.ts
  tests/modules/node/Query/node.test.ts
  tests/modules/todo/Mutation/completeTodo.test.ts
  tests/modules/todo/Mutation/updateTodo.test.ts
  tests/modules/todo/User/todos.test.ts
  tests/modules/user/Query/users.test.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor: use transaction for seeding
  prisma/seed.ts
  prisma/seeds/todo.ts
  prisma/seeds/user.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor: remove setup npm script
  README.md
  package.json
Due: prettier --cache --write

refactor: remove generate npm script
  package.json
Due: prettier --cache --write

refactor: remove seed npm script
  package.json
Due: prettier --cache --write

change!: don't allow null to User.todos(status)
  src/db/loaders/userTodos.ts
  src/db/loaders/userTodosCount.ts
  src/modules/todo/User/todos.ts
  tests/modules/todo/User/todos.test.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor: refine cursor util
  src/modules/common/cursor.ts
  src/modules/todo/User/todos.ts
  src/modules/user/Query/users.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

fix: sync schema and migration file
  prisma/migrations/000000000000_squashed_migrations/migration.sql
  prisma/migrations/migration_lock.toml
Due: none

chore(dev): upgrade prisma and drop prisma-import
  .vscode/extensions.json
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  prisma/schema/base.prisma
  prisma/schema/todo.prisma
  prisma/schema/user.prisma
  prisma/schemas/common.prisma
Due: prettier --cache --write

fix(dev): fix check script
  package.json
Due: prettier --cache --write

fix(perf): effective db indexes
  prisma/migrations/20240605025411_composite_indexes/migration.sql
  prisma/schema/todo.prisma
  prisma/schema/user.prisma
Due: none

refactor: use ulid's timestamp
  src/modules/common/resolvers.ts
  src/modules/todo/Mutation/createTodo.ts
  src/modules/user/Mutation/signup.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

perf(db): drop createdAt, use id instead
  README.md
  prisma/migrations/20240613112843_drop_created_at/migration.sql
  prisma/schema/todo.prisma
  prisma/schema/user.prisma
  prisma/seeds/todo.ts
  prisma/seeds/user.ts
  src/db/loaders/userTodos.ts
  src/db/types.ts
  src/modules/todo/Mutation/createTodo.ts
  src/modules/todo/Todo/createdAt.ts
  src/modules/todo/User/todos.ts
  src/modules/todo/common/test.ts
  src/modules/user/Mutation/signup.ts
  src/modules/user/Query/users.ts
  src/modules/user/User/createdAt.ts
  src/modules/user/common/test.ts
  tests/data/common.ts
  tests/data/todo.ts
  tests/data/user.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(dev): upgrade @biomejs/biome
  biome.jsonc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): upgrade uWebSockets.js to support Node.js 22
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): upgrade Node.js and pnpm
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

change!: allow guest user to query Query.me field
  src/modules/user/Query/me.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor: change the internal representation of guest user
  src/modules/common/authorizers.ts
  src/modules/common/resolvers.ts
  src/modules/todo/common/authorizer.ts
  src/modules/user/Query/me.ts
  src/modules/user/common/authorizer.ts
  src/modules/user/common/test.ts
  src/server.ts
  tests/server.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor: split logic from resolvers for test
  src/modules/common/tests.ts
  src/modules/todo/Mutation/createTodo.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor: split parsings from resolvers for test
  src/modules/todo/Mutation/createTodo.ts
  src/modules/todo/Mutation/updateTodo.ts
  src/modules/todo/User/todos.ts
  src/modules/user/Mutation/login.ts
  src/modules/user/Mutation/signup.ts
  src/modules/user/Mutation/updateMe.ts
  src/modules/user/Query/users.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor: add AuthContext
  src/modules/common/authorizers.ts
  src/modules/todo/Mutation/createTodo.ts
  src/modules/todo/common/authorizer.ts
  src/modules/user/common/authorizer.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

done
  README.md
  src/db/loaders/userTodos.ts
  src/modules/common/resolvers.ts
  src/modules/node/Query/node.ts
  src/modules/node/common/resolver.ts
  src/modules/todo/Mutation/completeTodo.ts
  src/modules/todo/Mutation/createTodo.ts
  src/modules/todo/Mutation/uncompleteTodo.ts
  src/modules/todo/Mutation/updateTodo.ts
  src/modules/todo/Todo/createdAt.ts
  src/modules/todo/Todo/description.ts
  src/modules/todo/Todo/id.ts
  src/modules/todo/Todo/status.ts
  src/modules/todo/Todo/title.ts
  src/modules/todo/Todo/updatedAt.ts
  src/modules/todo/Todo/user.ts
  src/modules/todo/User/todo.ts
  src/modules/todo/common/adapter.ts
  src/modules/todo/common/authorizer.ts
  src/modules/todo/common/resolver.ts
  src/modules/user/Mutation/logout.ts
  src/modules/user/Mutation/updateMe.ts
  src/modules/user/Query/user.ts
  src/modules/user/Query/users.ts
  src/modules/user/User/createdAt.ts
  src/modules/user/User/email.ts
  src/modules/user/User/id.ts
  src/modules/user/User/name.ts
  src/modules/user/User/token.ts
  src/modules/user/User/updatedAt.ts
  src/modules/user/common/authorizer.ts
  src/modules/user/common/resolver.ts
  src/server.ts
  tests/modules/schema.ts
  tests/modules/user/User/token.test.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor: crypto module -> Web Crypto API
  src/modules/common/resolvers.ts
  src/server.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(deps): bump up @biomejs/biome
  .vscode/settings.json
  biome.jsonc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(dev): useImportExtensions
  .vscode/settings.json
  biome.jsonc
  src/modules/common/cursor.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(deps): bump up typescript
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor: infer type predicates
  src/modules/common/cursor.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

Path conditions:
  sh -c 'tsc': any of: *.ts
  eslint --cache --fix: any of: *.{js,ts}
  prettier --cache --write: any of: *.{js,ts,json,yml,yaml,md}
