Repository rusconn/ts-graphql-example: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

fix(dev): specify minor version of Node.js
  mise.toml
  package.json
Due: prettier --cache --write

fix(dev): wait until db is ready
  README.md
  compose.yaml
  mise.toml
Due: prettier --cache --write

chore(dev): update README.md and package.json
  README.md
  package.json
Due: prettier --cache --write

refactor(dev): Atlas -> pgschema
  .env.example
  .env.test
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  atlas.hcl
  db/schema.empty.sql
  db/schema.sql
  docker/db/init.sql
  docs/database/schema.md
  mise.toml
  package.json
Due: prettier --cache --write

feat(db): add uuidv7 type
  db/schema.sql
  kysely-codegen.ts
  src/infrastructure/datasources/_shared/generated.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor(dev): clean kysely-codegen.ts
  kysely-codegen.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(dev): disable mise auto install
  mise.toml
Due: none

fix: correct schema description of User.todos
  schema.graphql
  src/presentation/graphql/schema/User/todos.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

feat: add search arg to User.todos
  schema.graphql
  src/application/queries/todo/loaders/user-todo-count.ts
  src/application/queries/todo/loaders/user-todos.ts
  src/infrastructure/queries/db/todo/loaders/user-todo-count.ts
  src/infrastructure/queries/db/todo/loaders/user-todos.ts
  src/presentation/graphql/schema/User/todos.test.ts
  src/presentation/graphql/schema/User/todos.ts
  src/presentation/graphql/schema/_types.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

perf(db): use pg_bigm for full-text search
  compose.yaml
  db/schema.sql
  docker/db/Dockerfile
  docker/db/init.sql
  docker/db/postgresql.conf
  src/infrastructure/queries/db/todo/loaders/user-todo-count.ts
  src/infrastructure/queries/db/todo/loaders/user-todos.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

change(dev): don't log queries in prod on app
  src/infrastructure/datasources/db/client.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(docs): small fix
  README.md
Due: prettier --cache --write

chore(dev): clean npm scripts
  package.json
Due: prettier --cache --write

chore(deps): upgrade pnpm
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(dev): split db seed into minimal and bulk
  README.md
  db/seed.bulk.ts
  db/seed.minimal.ts
  db/seed.ts
  db/seeds/credentials.ts
  db/seeds/refresh-tokens.ts
  db/seeds/todos.ts
  db/seeds/users.ts
  mise.toml
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

perf(dev): use jsonc configs for oxlint, oxfmt
  .oxfmtrc.jsonc
  .oxlintrc.jsonc
Due: none

chore(dev): update zed language_servers
  .zed/settings.json
Due: prettier --cache --write

perf(dev): upgrade oxlint, oxfmt
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): TS7, TS6
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

perf(dev): napi oxlint -> binary oxlint
  .zed/settings.json
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(dev): make fake data almost deterministic
  db/seeds/_utils.ts
  db/seeds/refresh-tokens.ts
  db/seeds/todos.ts
  db/seeds/users.ts
  package.json
  pnpm-lock.yaml
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(dev): use mise
  README.md
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor(e2e): unify graphql operations with graphql() documents
  e2e/graphql/_shared/gql.ts
  e2e/graphql/_shared/server.ts
  e2e/graphql/multi-device.test.ts
  e2e/graphql/single-device.test.ts
  package.json
  pnpm-lock.yaml
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor(e2e): migrate to graphql-codegen client-preset
  .oxfmtrc.jsonc
  .oxlintrc.jsonc
  codegen.ts
  e2e/graphql/_shared/gql.ts
  e2e/graphql/_shared/graphql.ts
  e2e/graphql/_shared/index.ts
  e2e/graphql/_shared/server.ts
  e2e/graphql/_shared/types.ts
  e2e/graphql/logout-login.test.ts
  e2e/graphql/multi-device.test.ts
  e2e/graphql/single-device.test.ts
  package.json
  pnpm-lock.yaml
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

fix(lib): avoid using function declarations on non-top-level context
  src/lib/graphql/cursor-connections/get.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

fix(dev): correct $schema urls for oxlint, oxfmt
  .oxfmtrc.jsonc
  .oxlintrc.jsonc
Due: none

refactor: lift up simple scalar fields to parent
  schema.graphql
  src/presentation/graphql/schema/Mutation/accountDelete.ts
  src/presentation/graphql/schema/Mutation/todoDelete.ts
  src/presentation/graphql/schema/Todo.ts
  src/presentation/graphql/schema/Todo/createdAt.test.ts
  src/presentation/graphql/schema/Todo/createdAt.ts
  src/presentation/graphql/schema/Todo/description.test.ts
  src/presentation/graphql/schema/Todo/description.ts
  src/presentation/graphql/schema/Todo/id.test.ts
  src/presentation/graphql/schema/Todo/id.ts
  src/presentation/graphql/schema/Todo/status.test.ts
  src/presentation/graphql/schema/Todo/status.ts
  src/presentation/graphql/schema/Todo/title.test.ts
  src/presentation/graphql/schema/Todo/title.ts
  src/presentation/graphql/schema/Todo/updatedAt.test.ts
  src/presentation/graphql/schema/Todo/updatedAt.ts
  src/presentation/graphql/schema/User.ts
  src/presentation/graphql/schema/User/createdAt.test.ts
  src/presentation/graphql/schema/User/createdAt.ts
  src/presentation/graphql/schema/User/email.test.ts
  src/presentation/graphql/schema/User/email.ts
  src/presentation/graphql/schema/User/id.test.ts
  src/presentation/graphql/schema/User/id.ts
  src/presentation/graphql/schema/User/name.test.ts
  src/presentation/graphql/schema/User/name.ts
  src/presentation/graphql/schema/User/updatedAt.test.ts
  src/presentation/graphql/schema/User/updatedAt.ts
  src/presentation/graphql/schema/_test/data/graph/todos.ts
  src/presentation/graphql/schema/_test/data/graph/users.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore: make complexity settings explicit
  src/presentation/graphql/yoga/plugins/complexity.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(docs): update README.md
  README.md
Due: prettier --cache --write

refactor(dev): manage oxfmt with mise
  .zed/settings.json
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix(schema): correct some complexities
  schema.graphql
  src/presentation/graphql/schema/User/email.ts
  src/presentation/graphql/schema/User/name.ts
  src/presentation/graphql/schema/User/updatedAt.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

Path conditions:
  sh -c 'tsc': any of: *.ts
  eslint --cache --fix: any of: *.{js,ts}
  prettier --cache --write: any of: *.{js,ts,json,yml,yaml,md}
