Repository rusconn/ts-graphql-example: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

.lintstagedrc.json:

{
  "*.ts": "sh -c 'tsc'",
  "*.{js,ts}": "eslint --cache --fix",
  "*.{js,ts,json,yml,yaml,md}": "prettier --cache --write"
}

add in-memory queries, repos
  src/infra/datasources/in-memory/store.ts
  src/infra/queries/in-memory/credential/for-admin.ts
  src/infra/queries/in-memory/credential/for-guest.ts
  src/infra/queries/in-memory/credential/for-user.ts
  src/infra/queries/in-memory/credential/shared.ts
  src/infra/queries/in-memory/todo/for-admin.ts
  src/infra/queries/in-memory/todo/for-user.ts
  src/infra/queries/in-memory/todo/loaders/userTodo.ts
  src/infra/queries/in-memory/todo/loaders/userTodoCount.ts
  src/infra/queries/in-memory/todo/loaders/userTodos.ts
  src/infra/queries/in-memory/todo/shared.ts
  src/infra/queries/in-memory/user/for-admin.ts
  src/infra/queries/in-memory/user/for-guest.ts
  src/infra/queries/in-memory/user/for-user.ts
  src/infra/queries/in-memory/user/loaders/user.ts
  src/infra/queries/in-memory/user/shared.ts
  src/infra/repos-for-read/in-memory/_shared/todo.ts
  src/infra/repos-for-read/in-memory/_shared/user.ts
  src/infra/repos-for-read/in-memory/for-admin/todo.ts
  src/infra/repos-for-read/in-memory/for-admin/user.ts
  src/infra/repos-for-read/in-memory/for-user/todo.ts
  src/infra/repos-for-read/in-memory/for-user/user.ts
  src/infra/unit-of-works/db/_shared/refresh-token.ts
  src/infra/unit-of-works/db/_shared/todo.ts
  src/infra/unit-of-works/db/_shared/user.ts
  src/infra/unit-of-works/in-memory/_shared/refresh-token.ts
  src/infra/unit-of-works/in-memory/_shared/todo.ts
  src/infra/unit-of-works/in-memory/_shared/user.ts
  src/infra/unit-of-works/in-memory/for-admin.ts
  src/infra/unit-of-works/in-memory/for-admin/refresh-token.ts
  src/infra/unit-of-works/in-memory/for-admin/todo.ts
  src/infra/unit-of-works/in-memory/for-admin/user.ts
  src/infra/unit-of-works/in-memory/for-guest.ts
  src/infra/unit-of-works/in-memory/for-guest/refresh-token.ts
  src/infra/unit-of-works/in-memory/for-guest/user.ts
  src/infra/unit-of-works/in-memory/for-user.ts
  src/infra/unit-of-works/in-memory/for-user/refresh-token.ts
  src/infra/unit-of-works/in-memory/for-user/todo.ts
  src/infra/unit-of-works/in-memory/for-user/user.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refresh token rotation
  db/schema.sql
  db/seeds/refresh-tokens.ts
  db/seeds/todos.ts
  db/seeds/users.ts
  schema.graphql
  src/domain/entities/refresh-token.ts
  src/domain/unit-of-works/for-admin/refresh-token.ts
  src/domain/unit-of-works/for-guest/refresh-token.ts
  src/domain/unit-of-works/for-user/refresh-token.ts
  src/graphql/Mutation/logout.ts
  src/graphql/Mutation/tokenRefresh.ts
  src/graphql/_test/data/db/refresh-tokens.ts
  src/infra/datasources/_shared/generated.ts
  src/infra/unit-of-works/db/_shared/refresh-token.ts
  src/infra/unit-of-works/db/for-admin/refresh-token.ts
  src/infra/unit-of-works/db/for-guest/refresh-token.ts
  src/infra/unit-of-works/db/for-user/refresh-token.ts
  src/infra/unit-of-works/in-memory/_shared/refresh-token.ts
  src/infra/unit-of-works/in-memory/for-admin/refresh-token.ts
  src/infra/unit-of-works/in-memory/for-guest/refresh-token.ts
  src/infra/unit-of-works/in-memory/for-user/refresh-token.ts
  tests/graphql/Mutation/login.test.ts
  tests/graphql/Mutation/tokenRefresh.test.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

check expiration of refresh tokens on refresh
  db/schema.sql
  db/seeds/refresh-tokens.ts
  schema.graphql
  src/application/queries/user/for-admin.ts
  src/application/queries/user/for-guest.ts
  src/application/queries/user/for-user.ts
  src/domain/entities/refresh-token.ts
  src/domain/repos-for-read/refresh-token.ts
  src/graphql/Mutation/login.ts
  src/graphql/Mutation/signup.ts
  src/graphql/Mutation/tokenRefresh.ts
  src/graphql/_schema.ts
  src/graphql/_test/data/db/refresh-tokens.ts
  src/infra/datasources/_shared/generated.ts
  src/infra/queries/db/user/for-admin.ts
  src/infra/queries/db/user/for-guest.ts
  src/infra/queries/db/user/for-user.ts
  src/infra/queries/db/user/shared.ts
  src/infra/queries/in-memory/user/for-admin.ts
  src/infra/queries/in-memory/user/for-guest.ts
  src/infra/queries/in-memory/user/for-user.ts
  src/infra/queries/in-memory/user/shared.ts
  src/infra/repos-for-read/db/refresh-token.ts
  src/server/context.ts
  src/server/yoga.ts
  src/util/date.ts
  src/util/refresh-token.ts
  tests/graphql/Mutation/login.test.ts
  tests/graphql/_schema.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

remove in-memory
  src/infra/datasources/in-memory/store.ts
  src/infra/queries/in-memory/credential/for-admin.ts
  src/infra/queries/in-memory/credential/for-guest.ts
  src/infra/queries/in-memory/credential/for-user.ts
  src/infra/queries/in-memory/credential/shared.ts
  src/infra/queries/in-memory/todo/for-admin.ts
  src/infra/queries/in-memory/todo/for-user.ts
  src/infra/queries/in-memory/todo/loaders/userTodo.ts
  src/infra/queries/in-memory/todo/loaders/userTodoCount.ts
  src/infra/queries/in-memory/todo/loaders/userTodos.ts
  src/infra/queries/in-memory/todo/shared.ts
  src/infra/queries/in-memory/user/for-admin.ts
  src/infra/queries/in-memory/user/for-user.ts
  src/infra/queries/in-memory/user/loaders/user.ts
  src/infra/queries/in-memory/user/shared.ts
  src/infra/repos-for-read/in-memory/_shared/todo.ts
  src/infra/repos-for-read/in-memory/_shared/user.ts
  src/infra/repos-for-read/in-memory/for-admin/todo.ts
  src/infra/repos-for-read/in-memory/for-admin/user.ts
  src/infra/repos-for-read/in-memory/for-user/todo.ts
  src/infra/repos-for-read/in-memory/for-user/user.ts
  src/infra/unit-of-works/in-memory/_shared/refresh-token.ts
  src/infra/unit-of-works/in-memory/_shared/todo.ts
  src/infra/unit-of-works/in-memory/_shared/user.ts
  src/infra/unit-of-works/in-memory/for-admin.ts
  src/infra/unit-of-works/in-memory/for-admin/refresh-token.ts
  src/infra/unit-of-works/in-memory/for-admin/todo.ts
  src/infra/unit-of-works/in-memory/for-admin/user.ts
  src/infra/unit-of-works/in-memory/for-guest.ts
  src/infra/unit-of-works/in-memory/for-guest/refresh-token.ts
  src/infra/unit-of-works/in-memory/for-guest/user.ts
  src/infra/unit-of-works/in-memory/for-user.ts
  src/infra/unit-of-works/in-memory/for-user/refresh-token.ts
  src/infra/unit-of-works/in-memory/for-user/todo.ts
  src/infra/unit-of-works/in-memory/for-user/user.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

cont'd: wip: transaction it
  compose.yaml
  package.json
  pnpm-lock.yaml
  src/graphql/Node/__resolveType.ts
  src/graphql/Node/_mapper.ts
  src/graphql/Query/node.ts
  src/server.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

downgrade yoga, upgrade many
  kysely-codegen.ts
  package.json
  pnpm-lock.yaml
  src/presentation/graphql/schema/_errors/global/bad-user-input.ts
  src/presentation/graphql/schema/_errors/global/forbidden.ts
  src/presentation/graphql/schema/_errors/global/internal-server-error.ts
  src/presentation/graphql/schema/_errors/global/token-expired.ts
  src/presentation/graphql/yoga.ts
  src/util/error.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

accountDelete requires password
  e2e/presentation/graphql/schema/Mutation/accountDelete.test.ts
  e2e/presentation/graphql/schema/_types.ts
  schema.graphql
  src/application/usecases/delete-account.ts
  src/domain/entities/user.ts
  src/presentation/graphql/schema/Mutation/accountDelete.test.ts
  src/presentation/graphql/schema/Mutation/accountDelete.ts
  src/presentation/graphql/schema/_types.ts
  src/presentation/graphql/yoga/plugins/logging.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

use DateTimeISO
  codegen.ts
  e2e/graphql/_shared/types.ts
  schema.graphql
  src/presentation/graphql/schema.ts
  src/presentation/graphql/schema/DateTime.ts
  src/presentation/graphql/schema/DateTimeISO.ts
  src/presentation/graphql/schema/Todo/createdAt.ts
  src/presentation/graphql/schema/Todo/updatedAt.ts
  src/presentation/graphql/schema/User/createdAt.ts
  src/presentation/graphql/schema/User/updatedAt.ts
  src/presentation/graphql/schema/_test/data/graph/_shared.ts
  src/presentation/graphql/schema/_test/data/graph/todos.ts
  src/presentation/graphql/schema/_test/data/graph/users.ts
  src/presentation/graphql/schema/_types.ts
  src/util/date-time.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

upgrade some tools
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: count own todos for admin
  src/application/context.ts
  src/infrastructure/queries/db/todo/for-admin.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor: use User.authenticate more
  src/application/context.ts
  src/application/queries/credential/for-admin.ts
  src/application/queries/credential/for-guest.ts
  src/application/queries/credential/for-user.ts
  src/application/usecases/login.ts
  src/domain/entities/user.ts
  src/domain/repos-for-read/for-admin/user.ts
  src/domain/repos-for-read/for-guest/user.ts
  src/infrastructure/queries/db/credential/for-admin.ts
  src/infrastructure/queries/db/credential/for-guest.ts
  src/infrastructure/queries/db/credential/for-user.ts
  src/infrastructure/queries/db/credential/shared.ts
  src/infrastructure/repos-for-read/db/_shared/user.ts
  src/infrastructure/repos-for-read/db/for-admin/user.ts
  src/infrastructure/repos-for-read/db/for-guest/user.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(build): upgrade pnpm, clean package.json entries
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

chore(doc): add docs dir
  README.md
  docs/database/schema.md
  docs/database/security.md
  docs/graphql/schema.md
  docs/graphql/security.md
  docs/misc.md
Due: prettier --cache --write

chore(dev): add xc tasks experimentally
  TASKS.md
Due: prettier --cache --write

refactor: upgrade kysely, use ReadonlyKysely
  package.json
  pnpm-lock.yaml
  src/application/context.ts
  src/infrastructure/queries/db/todo/for-admin.ts
  src/infrastructure/queries/db/todo/for-user.ts
  src/infrastructure/queries/db/todo/loaders/user-todo-count.ts
  src/infrastructure/queries/db/todo/loaders/user-todo.ts
  src/infrastructure/queries/db/todo/loaders/user-todos.ts
  src/infrastructure/queries/db/todo/shared.ts
  src/infrastructure/queries/db/user/for-admin.ts
  src/infrastructure/queries/db/user/for-user.ts
  src/infrastructure/queries/db/user/loaders/user.ts
  src/infrastructure/queries/db/user/shared.ts
  src/infrastructure/repos-for-read/db/_shared/todo.ts
  src/infrastructure/repos-for-read/db/_shared/user.ts
  src/infrastructure/repos-for-read/db/for-admin/todo.ts
  src/infrastructure/repos-for-read/db/for-admin/user.ts
  src/infrastructure/repos-for-read/db/for-guest/user.ts
  src/infrastructure/repos-for-read/db/for-user/todo.ts
  src/infrastructure/repos-for-read/db/for-user/user.ts
  src/infrastructure/repos-for-read/db/refresh-token.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(deps): upgrade uuid
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor(test): reorganize vitest configs
  TASKS.md
  e2e/vitest.config.e2e.ts
  package.json
  src/vitest.config.it.ts
  src/vitest.config.ut.ts
  vitest.config.ts
  vitest.e2e.config.ts
  vitest.it.config.ts
  vitest.ut.config.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

fix(dev): add typescript for kysely-codegen
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(build): upgrade Vite
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(dev): use Oxlint for linting
  .vscode/extensions.json
  TASKS.md
  biome.json
  oxlint.config.ts
  package.json
  pnpm-lock.yaml
  src/lib/graphql/cursor-connections/mod.ts
  src/presentation/graphql/schema/_parsers/_shared/string.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(dev): update .vscode/settings.json
  .vscode/settings.json
Due: prettier --cache --write

chore(dev): add .zed/settings.json
  .zed/settings.json
Due: prettier --cache --write

chore(dev): unify database versions between local and atlas dev
  atlas.hcl
Due: none

refactor(dev): xc -> mise
  TASKS.md
  mise.toml
Due: prettier --cache --write

perf(dev): make some mise tasks parallel
  mise.toml
Due: none

fix(dev): fix mise setup task
  mise.toml
Due: none

refactor: some renames
  src/domain/entities/user.ts
  src/infrastructure/repos-for-read/db/_shared/user.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor(dev): clean tasks
  mise.toml
  package.json
Due: prettier --cache --write

chore(dev): clean configs for oxlint and oxfmt
  oxfmt.config.ts
  oxlint.config.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write
