Repository rusconn/ts-graphql-example: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

.lintstagedrc.json:

{
  "*.ts": "sh -c 'tsc'",
  "*.{js,ts}": "eslint --cache --fix",
  "*.{js,ts,json,yml,yaml,md}": "prettier --cache --write"
}

chore(deps): upgrade PostgreSQL
  compose.yaml
Due: prettier --cache --write

change: use complexity limit
  .env.example
  README.md
  package.json
  pnpm-lock.yaml
  schema.graphql
  src/config/armor.ts
  src/config/security.ts
  src/directives.ts
  src/graphql/ErrorCode.ts
  src/graphql/Mutation/accountDelete.ts
  src/graphql/Mutation/accountUpdate.ts
  src/graphql/Mutation/login.ts
  src/graphql/Mutation/loginPasswordChange.ts
  src/graphql/Mutation/logout.ts
  src/graphql/Mutation/signup.ts
  src/graphql/Mutation/todoCreate.ts
  src/graphql/Mutation/todoDelete.ts
  src/graphql/Mutation/todoStatusChange.ts
  src/graphql/Mutation/todoUpdate.ts
  src/graphql/Mutation/tokenRefresh.ts
  src/graphql/Mutation/userEmailChange.ts
  src/graphql/Query/node.ts
  src/graphql/Query/user.ts
  src/graphql/Query/users.ts
  src/graphql/Todo/user.ts
  src/graphql/User/email.ts
  src/graphql/User/name.ts
  src/graphql/User/todo.ts
  src/graphql/User/todos.ts
  src/graphql/User/updatedAt.ts
  src/graphql/_errors/queryTooComplex.ts
  src/plugins/armor.ts
  src/plugins/complexity.ts
  src/schema.ts
  src/yoga.ts
  tests/graphql/schema.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

fix(license): remove license from package.json
  package.json
Due: prettier --cache --write

refactor: fix type
  src/lib/object/record.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(dev): add tsgo preview
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): upgrade prisma to 6.9.0
  package.json
  pnpm-lock.yaml
  prisma/schema/base.prisma
  prisma/schema/migrations/000000000000_squashed_migrations/migration.sql
  prisma/schema/migrations/20250203194036_change_user_table_column_sizes/migration.sql
  prisma/schema/migrations/20250204063604_split_user_table/migration.sql
  prisma/schema/migrations/20250223155506_/migration.sql
  prisma/schema/migrations/migration_lock.toml
  prisma/schema/models/todo.prisma
  prisma/schema/models/user-credential.prisma
  prisma/schema/models/user-token.prisma
  prisma/schema/models/user.prisma
  prisma/schema/schema.prisma
Due: prettier --cache --write

chore(deps): Biome v1 -> Biome v2
  .vscode/settings.json
  biome.jsonc
  package.json
  pnpm-lock.yaml
  prisma/seed.ts
  prisma/seeds/todo.ts
  src/datasources/todo.ts
  src/datasources/user.ts
  src/graphql/Mutation/accountUpdate.ts
  src/graphql/Mutation/login.ts
  src/graphql/Mutation/loginPasswordChange.ts
  src/graphql/Mutation/signup.ts
  src/graphql/Mutation/todoCreate.ts
  src/graphql/Mutation/todoUpdate.ts
  src/graphql/Mutation/userEmailChange.ts
  src/graphql/Node/_mapper.ts
  src/graphql/Query/node.ts
  src/lib/string/emailAddress.ts
  src/logger.ts
  src/util/accessToken.ts
  tests/data/todo.ts
  tests/data/user.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

fix(dev): fix biome.jsonc includes
  biome.jsonc
Due: none

refactor: add env.get() and env.getInt()
  src/config/db.ts
  src/config/env.ts
  src/config/hash.ts
  src/config/jwt.ts
  src/config/security.ts
  src/config/url.ts
  src/lib/env/env.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(deps): upgrade prisma
  package.json
  pnpm-lock.yaml
  prisma.config.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(deps): upgrade prisma-kysely
  package.json
  pnpm-lock.yaml
  prisma/schema/schema.prisma
  src/db/types-extension.ts
  src/db/types.ts
  src/models/todo.ts
  src/models/user.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(deps): upgrade @graphql-codegen/*
  package.json
  pnpm-lock.yaml
  src/schema.ts
  tests/graphql/schema.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(deps): upgrade bcrypt and @types/bcrypt
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): upgrade uuid
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): upgrade @graphql-tools/executor-http
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): upgrade prettier
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): upgrade Vite and Vitest
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): upgrade @faker-js/faker
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): upgrade pnpm
  package.json
Due: prettier --cache --write

chore(dev): move pnpm configurations to pnpm-workspace.yaml
  package.json
  pnpm-workspace.yaml
Due: prettier --cache --write

refactor(config): separate vitest configs from vite configs
  vite.config.ts
  vitest.config.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(deps): upgrade vitest
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(deps): upgrade node.js
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): upgrade prisma
  package.json
  pnpm-lock.yaml
  prisma.config.ts
  prisma/schema/schema.prisma
  src/db/types.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor: fix a naming
  src/lib/object/UndefinableToOptional.ts
  src/lib/object/pickDefined.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(dev): upgrade tsgo, use tsgo only
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor: remove `pickDefined`
  src/graphql/Mutation/_mod.ts
  src/graphql/Mutation/accountUpdate.ts
  src/graphql/Mutation/todoUpdate.ts
  src/graphql/Query/_mod.ts
  src/graphql/Todo/_mod.ts
  src/graphql/Todo/createdAt.ts
  src/graphql/Todo/description.ts
  src/graphql/Todo/id.ts
  src/graphql/Todo/status.ts
  src/graphql/Todo/title.ts
  src/graphql/Todo/updatedAt.ts
  src/graphql/Todo/user.ts
  src/graphql/User/_mod.ts
  src/graphql/User/createdAt.ts
  src/graphql/User/email.ts
  src/graphql/User/id.ts
  src/graphql/User/name.ts
  src/graphql/User/todo.ts
  src/graphql/User/todos.ts
  src/graphql/User/updatedAt.ts
  src/lib/object/UndefinableToOptional.ts
  src/lib/object/pickDefined.ts
  src/resolvers.ts
  tests/graphql/Query/users.test.ts
  tests/graphql/User/todos.test.ts
  tests/server.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

wip: refactor: improve parse utility
  src/graphql/Mutation/accountUpdate.ts
  src/graphql/Mutation/login.ts
  src/graphql/Mutation/loginPasswordChange.ts
  src/graphql/Mutation/signup.ts
  src/graphql/Mutation/todoCreate.ts
  src/graphql/Mutation/todoUpdate.ts
  src/graphql/Mutation/userEmailChange.ts
  src/graphql/User/todos.ts
  src/graphql/_parsers/todo/description.ts
  src/graphql/_parsers/todo/status.ts
  src/graphql/_parsers/todo/title.ts
  src/graphql/_parsers/user/email.ts
  src/graphql/_parsers/user/name.ts
  src/graphql/_parsers/user/password.ts
  src/graphql/_parsers/util.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor: rename API to Repo
  src/context.ts
  src/graphql/Mutation/accountDelete.ts
  src/graphql/Mutation/accountUpdate.ts
  src/graphql/Mutation/login.ts
  src/graphql/Mutation/loginPasswordChange.ts
  src/graphql/Mutation/logout.ts
  src/graphql/Mutation/signup.ts
  src/graphql/Mutation/todoCreate.ts
  src/graphql/Mutation/todoDelete.ts
  src/graphql/Mutation/todoStatusChange.ts
  src/graphql/Mutation/todoUpdate.ts
  src/graphql/Mutation/tokenRefresh.ts
  src/graphql/Mutation/userEmailChange.ts
  src/graphql/Query/user.ts
  src/graphql/Query/users.ts
  src/graphql/Todo/_node.ts
  src/graphql/Todo/user.ts
  src/graphql/User/_node.ts
  src/graphql/User/email.ts
  src/graphql/User/name.ts
  src/graphql/User/todo.ts
  src/graphql/User/todos.ts
  src/graphql/User/updatedAt.ts
  src/repositories/loaders/user.ts
  src/repositories/loaders/userTodo.ts
  src/repositories/loaders/userTodoCount.ts
  src/repositories/loaders/userTodos.ts
  src/repositories/todo.ts
  src/repositories/user.ts
  src/yoga.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor(db): remove default values
  prisma/schema/migrations/20251208064838_remove_default_values/migration.sql
  prisma/schema/migrations/migration_lock.toml
  prisma/schema/models/todo.prisma
  prisma/schema/models/user.prisma
  src/db/types.ts
  src/graphql/Mutation/todoCreate.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor: clean model types
  src/models/todo.ts
  src/models/user.ts
  src/repositories/todo.ts
  src/repositories/user.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

fix: make it possible to login by logged out user
  src/repositories/user.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor(db): timestamp -> timestamptz
  db/schema.sql
Due: none
