Repository rusconn/ts-graphql-example: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor: implements Node at id field file for validity
  src/modules/todo/Todo/_mod.ts
  src/modules/todo/Todo/id.ts
  src/modules/user/User/_mod.ts
  src/modules/user/User/id.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor(db): rename Role -> UserRole to avoid conflict
  prisma/migrations/20231125043424_role_to_user_role/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  src/modules/user/Mutation/signup.ts
  src/modules/user/common/test.ts
  src/modules/user/user.prisma
  tests/modules/user/Mutation/signup.test.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(typo): denys -> denies
  src/modules/node/Query/node.ts
  src/modules/todo/Mutation/completeTodo.ts
  src/modules/todo/Mutation/createTodo.ts
  src/modules/todo/Mutation/deleteTodo.ts
  src/modules/todo/Mutation/uncompleteTodo.ts
  src/modules/todo/Mutation/updateTodo.ts
  src/modules/todo/Todo/createdAt.ts
  src/modules/todo/Todo/description.ts
  src/modules/todo/Todo/id.ts
  src/modules/todo/Todo/status.ts
  src/modules/todo/Todo/title.ts
  src/modules/todo/Todo/updatedAt.ts
  src/modules/todo/Todo/user.ts
  src/modules/todo/User/todo.ts
  src/modules/todo/User/todos.ts
  src/modules/user/Mutation/deleteMe.ts
  src/modules/user/Mutation/logout.ts
  src/modules/user/Mutation/signup.ts
  src/modules/user/Mutation/updateMe.ts
  src/modules/user/Query/me.ts
  src/modules/user/Query/user.ts
  src/modules/user/Query/users.ts
  src/modules/user/User/createdAt.ts
  src/modules/user/User/email.ts
  src/modules/user/User/id.ts
  src/modules/user/User/name.ts
  src/modules/user/User/token.ts
  src/modules/user/User/updatedAt.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(dev): remove lint-staged and husky
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(config): update settings.json
  .vscode/settings.json
Due: prettier --cache --write

change(dev): ESLint -> Biome
  .eslintignore
  .eslintrc.json
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  package.json
  pnpm-lock.yaml
  src/middlewares.ts
  src/modules/user/Mutation/login.ts
  src/modules/user/Mutation/signup.ts
  src/server.ts
  tests/server.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(dev): add unwantedRecommendations to extensions.json
  .vscode/extensions.json
  biome.json
Due: prettier --cache --write

chore(dev): VOLTA -> Corepack
  README.md
  package.json
Due: prettier --cache --write

chore(build): externalize all Node.js built-in modules
  vite.config.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

fix(build): fix invalid target option
  tsconfig.json
  vite.config.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

change(build): es2021 -> es2022
  vite.config.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(dev): move some vitest cli options to the config file
  package.json
  vite.config.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

change(db): remove unnecessary desc indexes
  prisma/migrations/20240212062142_remove_desc_index/migration.sql
  prisma/schema.prisma
  src/modules/todo/todo.prisma
  src/modules/user/user.prisma
Due: none

chore(dev): squash migration files
  prisma/migrations/000000000000_squashed_migrations/migration.sql
  prisma/migrations/20230805103305_fix_and_add_sort_indexes/migration.sql
  prisma/migrations/20230806131905_remove_todo_id_user_id_idx/migration.sql
  prisma/migrations/20230807061118_shrink_ulid_column_sizes/migration.sql
  prisma/migrations/20230926103258_add_todo_id_user_id_index/migration.sql
  prisma/migrations/20231125043424_role_to_user_role/migration.sql
  prisma/migrations/20240212062142_remove_desc_index/migration.sql
  prisma/migrations/migration_lock.toml
Due: none

chore(dev): increase seed data
  package.json
  pnpm-lock.yaml
  prisma/seed.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(deps): remove @envelop/graphql-jit
  package.json
  pnpm-lock.yaml
  src/server.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore(deps): upgrade vitest and vite-node
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore: fix seed script
  prisma/seed.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore: make seeding fast
  prisma/seed.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor: clean prisma codes
  src/generic/console.ts
  src/modules/common/resolvers.ts
  src/modules/todo/Mutation/completeTodo.ts
  src/modules/todo/Mutation/deleteTodo.ts
  src/modules/todo/Mutation/uncompleteTodo.ts
  src/modules/todo/Mutation/updateTodo.ts
  src/modules/todo/User/todos.ts
  src/modules/todo/common/resolver.ts
  src/modules/user/Mutation/login.ts
  src/modules/user/Mutation/signup.ts
  src/modules/user/Mutation/updateMe.ts
  src/modules/user/Query/users.ts
  src/modules/user/User/token.ts
  src/modules/user/common/resolver.ts
  src/prisma/client.ts
  src/prisma/errors.ts
  src/prisma/mod.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore: move prisma-import schema files
  package.json
  prisma/schemas/base.prisma
  prisma/schemas/todo.prisma
  prisma/schemas/user.prisma
Due: prettier --cache --write

refactor: remove key and full variants
  README.md
  src/modules/common/resolvers.ts
  src/modules/todo/Mutation/completeTodo.ts
  src/modules/todo/Mutation/createTodo.ts
  src/modules/todo/Mutation/uncompleteTodo.ts
  src/modules/todo/Mutation/updateTodo.ts
  src/modules/todo/Todo/createdAt.ts
  src/modules/todo/Todo/description.ts
  src/modules/todo/Todo/id.ts
  src/modules/todo/Todo/status.ts
  src/modules/todo/Todo/title.ts
  src/modules/todo/Todo/updatedAt.ts
  src/modules/todo/Todo/user.ts
  src/modules/todo/User/todo.ts
  src/modules/todo/User/todos.ts
  src/modules/todo/common/resolver.ts
  src/modules/user/Mutation/logout.ts
  src/modules/user/Mutation/updateMe.ts
  src/modules/user/Query/me.ts
  src/modules/user/Query/user.ts
  src/modules/user/Query/users.ts
  src/modules/user/User/createdAt.ts
  src/modules/user/User/email.ts
  src/modules/user/User/id.ts
  src/modules/user/User/name.ts
  src/modules/user/User/token.ts
  src/modules/user/User/updatedAt.ts
  src/modules/user/common/resolver.ts
  src/server.ts
  tests/server.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

change!: make some fields nullable
  src/modules/common/schema.ts
  src/modules/common/typeDefs.ts
  tests/modules/schema.ts
  tests/modules/todo/User/todos.test.ts
  tests/modules/user/Query/users.test.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

change!: make totalCount nullable
  src/modules/common/schema.ts
  src/modules/todo/User/todos.ts
  src/modules/user/Query/users.ts
  tests/modules/schema.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

chore: update README
  README.md
Due: prettier --cache --write

refactor: simplify db configs
  .env.example
  compose.yaml
  package.json
Due: prettier --cache --write

refactor: clean seed script
  prisma/seed.ts
  prisma/seeds/common.ts
  prisma/seeds/todo.ts
  prisma/seeds/user.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor: base.prisma -> common.prisma
  prisma/schema.prisma
  prisma/schemas/common.prisma
Due: none

chore(dev): use biome formatter
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  biome.json
  package.json
  src/config.ts
  src/modules/common/typeDefs.ts
  src/modules/todo/User/todos.ts
  src/modules/user/Query/users.ts
  src/server.ts
  tests/server.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

perf: use Fluent API to reduce queries
  src/modules/todo/User/todos.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor!: field-level -> top-heavy
  README.md
  src/modules/common/resolvers.ts
  src/modules/common/tests.ts
  src/modules/node/Query/node.ts
  src/modules/node/common/resolver.ts
  src/modules/todo/Mutation/completeTodo.ts
  src/modules/todo/Mutation/createTodo.ts
  src/modules/todo/Mutation/uncompleteTodo.ts
  src/modules/todo/Mutation/updateTodo.ts
  src/modules/todo/Todo/createdAt.ts
  src/modules/todo/Todo/description.ts
  src/modules/todo/Todo/id.ts
  src/modules/todo/Todo/status.ts
  src/modules/todo/Todo/title.ts
  src/modules/todo/Todo/updatedAt.ts
  src/modules/todo/Todo/user.ts
  src/modules/todo/User/todo.ts
  src/modules/todo/User/todos.ts
  src/modules/todo/common/resolver.ts
  src/modules/user/Mutation/logout.ts
  src/modules/user/Mutation/updateMe.ts
  src/modules/user/Query/user.ts
  src/modules/user/Query/users.ts
  src/modules/user/User/createdAt.ts
  src/modules/user/User/email.ts
  src/modules/user/User/id.ts
  src/modules/user/User/name.ts
  src/modules/user/User/token.ts
  src/modules/user/User/updatedAt.ts
  src/modules/user/common/resolver.ts
  src/server.ts
  tests/modules/schema.ts
  tests/modules/todo/User/todo.test.ts
  tests/modules/user/User/token.test.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

fix: hash password in updateMe
  src/modules/user/Mutation/updateMe.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor(db): clean indexes, clean schema codes
  prisma/migrations/000000000000_squashed_migrations/migration.sql
  prisma/schema.prisma
  prisma/schemas/todo.prisma
  prisma/schemas/user.prisma
Due: none

perf: avoid over fetching from db by using resolveInfo
  README.md
  biome.json
  package.json
  pnpm-lock.yaml
  src/modules/common/resolvers.ts
  src/modules/todo/Todo/createdAt.ts
  src/modules/todo/Todo/description.ts
  src/modules/todo/Todo/status.ts
  src/modules/todo/Todo/title.ts
  src/modules/todo/Todo/updatedAt.ts
  src/modules/todo/Todo/user.ts
  src/modules/todo/User/todo.ts
  src/modules/todo/User/todos.ts
  src/modules/todo/common/resolver.ts
  src/modules/user/Query/user.ts
  src/modules/user/Query/users.ts
  src/modules/user/User/createdAt.ts
  src/modules/user/User/email.ts
  src/modules/user/User/name.ts
  src/modules/user/User/token.ts
  src/modules/user/User/updatedAt.ts
  src/modules/user/common/resolver.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

change!: limit number of todos
  src/modules/common/schema.ts
  src/modules/todo/Mutation/createTodo.ts
  tests/modules/schema.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

refactor: drop @graphql-tools/schema
  package.json
  pnpm-lock.yaml
  src/server.ts
Due: sh -c 'tsc', eslint --cache --fix, prettier --cache --write

Path conditions:
  sh -c 'tsc': any of: *.ts
  eslint --cache --fix: any of: *.{js,ts}
  prettier --cache --write: any of: *.{js,ts,json,yml,yaml,md}
