Repository rusconn/ts-graphql-example: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "sh -c 'tsc --noEmit'",
  "*.{js,ts}": "eslint --cache --fix",
  "*.{js,ts,json,yml,md}": "prettier --write"
}

chore: make devcontainer run prisma studio
  .devcontainer/devcontainer.json
Due: prettier --write

doc: add launch section to README
  README.md
Due: prettier --write

refactor: use findUniqueOrThrow to clean code
  package.json
  src/datasources/todoAPI.ts
  src/datasources/userAPI.ts
  src/middlewares.ts
  yarn.lock
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(deps): resolve the undici audit alerts
  package.json
  yarn.lock
Due: prettier --write

refactor(test): make server instance single to simplify code
  tests/integration/authentication.test.ts
  tests/integration/node/node.test.ts
  tests/integration/server.ts
  tests/integration/todo/completeTodo.test.ts
  tests/integration/todo/createTodo.test.ts
  tests/integration/todo/deleteTodo.test.ts
  tests/integration/todo/todo.test.ts
  tests/integration/todo/todos.test.ts
  tests/integration/todo/uncompleteTodo.test.ts
  tests/integration/todo/updateTodo.test.ts
  tests/integration/user/createUser.test.ts
  tests/integration/user/deleteUser.test.ts
  tests/integration/user/updateUser.test.ts
  tests/integration/user/user.test.ts
  tests/integration/user/users.test.ts
  tests/integration/user/viewer.test.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: clean a little env var codes
  src/index.ts
  src/utils/env.ts
  tests/integration/server.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore: fix some comments
  src/middlewares.ts
  tests/integration/prisma.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: clean formatResponse code
  src/utils/server.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(deps): upgrade apollo-server to v4
  package.json
  src/datasources/abstracts/customDataSource.ts
  src/datasources/abstracts/index.ts
  src/datasources/abstracts/prismaDataSource.ts
  src/datasources/todoAPI.ts
  src/datasources/userAPI.ts
  src/index.ts
  src/middlewares.ts
  src/nodes/node/typeDefs.ts
  src/nodes/todo/typeDefs.ts
  src/nodes/user/typeDefs.ts
  src/plugins.ts
  src/typeDefs.ts
  src/utils/graphql.ts
  src/utils/permissions.ts
  src/utils/server.ts
  tests/integration/authentication.test.ts
  tests/integration/context.ts
  tests/integration/helpers.ts
  tests/integration/node/node.test.ts
  tests/integration/server.ts
  tests/integration/todo/completeTodo.test.ts
  tests/integration/todo/createTodo.test.ts
  tests/integration/todo/deleteTodo.test.ts
  tests/integration/todo/todo.test.ts
  tests/integration/todo/todos.test.ts
  tests/integration/todo/uncompleteTodo.test.ts
  tests/integration/todo/updateTodo.test.ts
  tests/integration/user/createUser.test.ts
  tests/integration/user/deleteUser.test.ts
  tests/integration/user/updateUser.test.ts
  tests/integration/user/user.test.ts
  tests/integration/user/users.test.ts
  tests/integration/user/viewer.test.ts
  yarn.lock
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor(test): add executeSingleResultOperation
  tests/integration/node/node.test.ts
  tests/integration/server.ts
  tests/integration/todo/completeTodo.test.ts
  tests/integration/todo/createTodo.test.ts
  tests/integration/todo/deleteTodo.test.ts
  tests/integration/todo/todo.test.ts
  tests/integration/todo/todos.test.ts
  tests/integration/todo/uncompleteTodo.test.ts
  tests/integration/todo/updateTodo.test.ts
  tests/integration/user/createUser.test.ts
  tests/integration/user/deleteUser.test.ts
  tests/integration/user/updateUser.test.ts
  tests/integration/user/user.test.ts
  tests/integration/user/users.test.ts
  tests/integration/user/viewer.test.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(deps): upgrade @prisma/client and prisma
  package.json
  yarn.lock
Due: prettier --write

refactor: reduce debug log
  src/nodes/node/permissions.ts
  src/nodes/node/resolvers.ts
  src/nodes/todo/permissions.ts
  src/nodes/user/permissions.ts
  src/utils/permissions.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor(types): remove dependency on GraphQL schema types from APIs
  src/datasources/todoAPI.ts
  src/datasources/userAPI.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(deps): upgrade jest related packages
  jest.config.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

perf(test): use swc/jest instead of ts-jest
  jest.config.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

perf(dev): use swc-node instead of ts-node-dev
  package.json
  yarn.lock
Due: prettier --write

refactor: remove dependency of prisma from mappers
  codegen.yml
  src/adapters/index.ts
  src/adapters/todo.ts
  src/adapters/user.ts
  src/adapters/utils.ts
  src/nodes/node/resolvers.ts
  src/nodes/todo/resolvers.ts
  src/nodes/user/resolvers.ts
  src/types/graphql.ts
  src/types/mappers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

fix: fix mappers types
  src/graphql/types/mappers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: don't pass graphql value to todoAPI
  src/datasources/todoAPI.ts
  src/graphql/nodes/todo/parsers.ts
  src/graphql/nodes/todo/resolvers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor!: remove GUEST from DB schema and GraphQL schema
  prisma/migrations/20230117115942_delete_guest_role/migration.sql
  prisma/schema.prisma
  src/adapters/user.ts
  src/graphql/nodes/node/resolvers.ts
  src/graphql/nodes/user/typeDefs.ts
  src/graphql/types/schema.ts
  src/server/index.ts
  src/server/types.ts
  tests/integration/data/context.ts
  tests/integration/data/db.ts
  tests/integration/data/index.ts
  tests/integration/graphql/nodes/node/node.test.ts
  tests/integration/graphql/nodes/todo/completeTodo.test.ts
  tests/integration/graphql/nodes/todo/createTodo.test.ts
  tests/integration/graphql/nodes/todo/deleteTodo.test.ts
  tests/integration/graphql/nodes/todo/todo.test.ts
  tests/integration/graphql/nodes/todo/todos.test.ts
  tests/integration/graphql/nodes/todo/uncompleteTodo.test.ts
  tests/integration/graphql/nodes/todo/updateTodo.test.ts
  tests/integration/graphql/nodes/user/createUser.test.ts
  tests/integration/graphql/nodes/user/deleteUser.test.ts
  tests/integration/graphql/nodes/user/updateUser.test.ts
  tests/integration/graphql/nodes/user/user.test.ts
  tests/integration/graphql/nodes/user/users.test.ts
  tests/integration/graphql/nodes/user/viewer.test.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: clean seed script
  prisma/seed.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(deps): bump apollo-server to solve dependabot alerts
  package.json
  yarn.lock
Due: prettier --write

refactor: simplify __resolveType()
  src/graphql/nodes/node/resolvers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor!: change user.token from uuid to nanoid
  prisma/schema.prisma
  prisma/seed.ts
  src/datasources/userAPI.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: use Prisma.SortOrder in parsers
  src/graphql/nodes/todo/parsers.ts
  src/graphql/nodes/user/parsers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor(dev): use @types/graphql-validation-complexity
  index.d.ts
  package.json
  yarn.lock
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: remove type prefix from db ids
  .eslintrc.json
  README.md
  src/adapters/index.ts
  src/adapters/node.ts
  src/adapters/todo.ts
  src/adapters/user.ts
  src/datasources/todoAPI.ts
  src/datasources/userAPI.ts
  src/graphql/nodes/node/parsers.ts
  src/graphql/nodes/node/permissions.ts
  src/graphql/nodes/node/resolvers.ts
  src/graphql/nodes/todo/parsers.ts
  src/graphql/nodes/todo/permissions.ts
  src/graphql/nodes/user/parsers.ts
  src/graphql/nodes/user/permissions.ts
  src/graphql/nodes/user/resolvers.ts
  src/graphql/utils/schema.ts
  src/ids.ts
  tests/integration/context.ts
  tests/integration/data.ts
  tests/integration/data/db.ts
  tests/integration/data/graph.ts
  tests/integration/data/index.ts
  tests/integration/graphql/nodes/node/node.test.ts
  tests/integration/graphql/nodes/todo/completeTodo.test.ts
  tests/integration/graphql/nodes/todo/createTodo.test.ts
  tests/integration/graphql/nodes/todo/deleteTodo.test.ts
  tests/integration/graphql/nodes/todo/todo.test.ts
  tests/integration/graphql/nodes/todo/todos.test.ts
  tests/integration/graphql/nodes/todo/uncompleteTodo.test.ts
  tests/integration/graphql/nodes/todo/updateTodo.test.ts
  tests/integration/graphql/nodes/user/createUser.test.ts
  tests/integration/graphql/nodes/user/deleteUser.test.ts
  tests/integration/graphql/nodes/user/updateUser.test.ts
  tests/integration/graphql/nodes/user/user.test.ts
  tests/integration/graphql/nodes/user/users.test.ts
  tests/integration/graphql/nodes/user/viewer.test.ts
  tests/integration/server.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(deps): upgrade @prisma/client and prisma
  package.json
  src/middlewares.ts
  yarn.lock
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: refine mapper types
  src/graphql/types/mappers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor!: use original error messages to some parse errors
  src/graphql/nodes/node/parsers.ts
  src/graphql/nodes/todo/parsers.ts
  src/graphql/nodes/user/parsers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor(test): use APIs in tests
  tests/integration/datasources.ts
  tests/integration/graphql/nodes/todo/todos.test.ts
  tests/integration/graphql/nodes/user/user.test.ts
  tests/integration/graphql/nodes/user/users.test.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor(test): remove dependencies to @/ids from tests
  tests/integration/graphql/nodes/node/node.test.ts
  tests/integration/graphql/nodes/todo/todo.test.ts
  tests/integration/graphql/nodes/user/user.test.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore: add missing eslint disable rule name
  src/server/utils/logger.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: make logger singleton
  src/server/index.ts
  src/server/logger.ts
  src/server/utils/index.ts
  src/server/utils/logger.ts
  tests/integration/context.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: let APIs get its own internal data backend client
  prisma/seed.ts
  src/datasources/internal/index.ts
  src/datasources/internal/prisma.ts
  src/datasources/todoAPI.ts
  src/datasources/userAPI.ts
  src/index.ts
  tests/integration/context.ts
  tests/integration/datasources.ts
  tests/integration/prisma.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: destructure args in some parsers
  src/graphql/nodes/node/parsers.ts
  src/graphql/nodes/todo/parsers.ts
  src/graphql/nodes/user/parsers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: move adapters to each node directory
  src/adapters/index.ts
  src/graphql/adapters.ts
  src/graphql/nodes/node/adapters.ts
  src/graphql/nodes/node/index.ts
  src/graphql/nodes/node/resolvers.ts
  src/graphql/nodes/todo/adapters.ts
  src/graphql/nodes/todo/index.ts
  src/graphql/nodes/todo/permissions.ts
  src/graphql/nodes/todo/resolvers.ts
  src/graphql/nodes/user/adapters.ts
  src/graphql/nodes/user/index.ts
  src/graphql/nodes/user/parsers.ts
  src/graphql/nodes/user/permissions.ts
  src/graphql/nodes/user/resolvers.ts
  src/graphql/utils/adapters.ts
  src/graphql/utils/index.ts
  src/graphql/utils/parsers.ts
  src/graphql/utils/schema.ts
  tests/integration/data/graph.ts
  tests/integration/graphql/nodes/todo/createTodo.test.ts
  tests/integration/graphql/nodes/user/createUser.test.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write
