Repository rusconn/ts-graphql-example: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "sh -c 'tsc --noEmit'",
  "*.{js,ts}": "eslint --cache --fix",
  "*.{js,ts,json,yml,md}": "prettier --write"
}

change!: remove unnecessary errors
  src/graphql/middlewares.ts
  src/graphql/typeDefs.ts
  src/graphql/types/schema.ts
  tests/it/graphql/types/schema.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(dev): upgrade postgresql and shrink image size
  docker-compose.yml
Due: prettier --write

change!: Query.todo -> User.todo
  src/graphql/nodes/todo/parsers.ts
  src/graphql/nodes/todo/permissions.ts
  src/graphql/nodes/todo/resolvers.ts
  src/graphql/nodes/todo/typeDefs.ts
  src/graphql/nodes/user/parsers.ts
  src/graphql/nodes/user/permissions.ts
  src/graphql/nodes/user/resolvers.ts
  src/graphql/nodes/user/typeDefs.ts
  src/graphql/types/schema.ts
  tests/it/graphql/nodes/todo/myTodo.test.ts
  tests/it/graphql/types/schema.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor(schema): explicit extend type
  src/graphql/typeDefs/base.ts
  src/graphql/typeDefs/node.ts
  src/graphql/typeDefs/todo.ts
  src/graphql/typeDefs/user.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(deps): upgrade @apollo/server
  package.json
  yarn.lock
Due: prettier --write

chore(deps): upgrade test packages
  package.json
  yarn.lock
Due: prettier --write

change!: Mutation.updateTodo output type to UpdateTodoPayload
  src/graphql/nodes/todo/resolvers.ts
  src/graphql/nodes/todo/typeDefs.ts
  src/graphql/types/schema.ts
  tests/it/graphql/nodes/todo/updateTodo.test.ts
  tests/it/graphql/types/schema.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: clean codes
  src/graphql/adapters/node.ts
  src/graphql/parsers/todo.ts
  src/graphql/resolvers/node.ts
  src/graphql/resolvers/todo.ts
  tests/it/graphql/node/node.test.ts
  tests/it/graphql/todo/completeTodo.test.ts
  tests/it/graphql/todo/createTodo.test.ts
  tests/it/graphql/todo/deleteTodo.test.ts
  tests/it/graphql/todo/uncompleteTodo.test.ts
  tests/it/graphql/todo/updateTodo.test.ts
  tests/it/graphql/user/deleteMe.test.ts
  tests/it/graphql/user/login.test.ts
  tests/it/graphql/user/logout.test.ts
  tests/it/graphql/user/me.test.ts
  tests/it/graphql/user/signup.test.ts
  tests/it/graphql/user/updateMe.test.ts
  tests/it/graphql/user/user.test.ts
  tests/it/graphql/user/users.test.ts
  tests/it/helpers.ts
  tests/it/server.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(db): squash migration files
  prisma/migrations/20220124155929_change_id_type/migration.sql
  prisma/migrations/20220720060201_change_id_type_and_format/migration.sql
  prisma/migrations/20230117115942_delete_guest_role/migration.sql
  prisma/migrations/20230121064143_add_id_user_id_index_to_todo/migration.sql
  prisma/migrations/20230122084705_add_email_and_password_to_user/migration.sql
  prisma/migrations/20230122125633_make_user_token_nullable/migration.sql
  prisma/migrations/20230613091227_squashed/migration.sql
  prisma/migrations/migration_lock.toml
Due: none

change!: remove "My"s
  src/graphql/nodes/todo/parsers.ts
  src/graphql/nodes/todo/permissions.ts
  src/graphql/nodes/todo/resolvers.ts
  src/graphql/nodes/todo/typeDefs.ts
  src/graphql/types/schema.ts
  tests/it/graphql/nodes/todo/completeTodo.test.ts
  tests/it/graphql/nodes/todo/createTodo.test.ts
  tests/it/graphql/nodes/todo/deleteTodo.test.ts
  tests/it/graphql/nodes/todo/uncompleteTodo.test.ts
  tests/it/graphql/nodes/todo/updateTodo.test.ts
  tests/it/graphql/types/schema.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(dev): remove unnecessary cache option from bind mounts
  docker-compose.yml
Due: prettier --write

refactor: xxxPayload -> xxxResult
  src/graphql/nodes/todo/typeDefs.ts
  src/graphql/nodes/user/typeDefs.ts
  src/graphql/types/schema.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

change!: some Mutation.deleteMe errors to field level error
  src/graphql/nodes/user/resolvers.ts
  src/graphql/nodes/user/typeDefs.ts
  src/graphql/types/schema.ts
  tests/it/graphql/nodes/user/deleteMe.test.ts
  tests/it/graphql/types/schema.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

change!: Mutation.updateMe output type to UpdateMePayload
  src/graphql/nodes/user/resolvers.ts
  src/graphql/nodes/user/typeDefs.ts
  src/graphql/types/schema.ts
  tests/it/graphql/nodes/user/updateMe.test.ts
  tests/it/graphql/types/schema.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: upgrade prisma and remove workarounds
  package.json
  pnpm-lock.yaml
  src/graphql/resolvers/todo.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore: force prepending "node:" to node core module imports
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/graphql/schema.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(deps): upgrade apollo-server
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove "extendedWhereUnique" from previewFeatures as it's stabilized
  prisma/schema.prisma
Due: none

change!: remove type prefixes from cursors
  src/graphql/parsers/todo.ts
  src/graphql/parsers/user.ts
  src/graphql/resolvers/todo.ts
  src/graphql/resolvers/user.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: use client extensions instead of $use as it's deprecation
  src/datasources/prisma.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(deps): upgrade prisma
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: field-level data formatting
  src/graphql/adapters/index.ts
  src/graphql/adapters/todo.ts
  src/graphql/adapters/user.ts
  src/graphql/parsers/todo.ts
  src/graphql/permissions/todo.ts
  src/graphql/permissions/user.ts
  src/graphql/resolvers/node.ts
  src/graphql/resolvers/todo.ts
  src/graphql/resolvers/user.ts
  src/graphql/types/mappers.ts
  src/graphql/utils/parsers.ts
  tests/it/data/graph.ts
  tests/it/data/helpers.ts
  tests/it/graphql/user/user.test.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: field-level data fetching
  README.md
  src/graphql/resolvers/node.ts
  src/graphql/resolvers/todo.ts
  src/graphql/resolvers/user.ts
  src/graphql/types/mappers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: rename, sort, comment, etc.
  .env.example
  codegen.ts
  src/config.ts
  src/datasources/index.ts
  src/datasources/prisma.ts
  src/graphql/index.ts
  src/graphql/middlewares.ts
  src/graphql/permissions/todo.ts
  src/graphql/permissions/user.ts
  src/graphql/resolvers/todo.ts
  src/graphql/resolvers/user.ts
  src/graphql/typeDefs/todo.ts
  src/graphql/typeDefs/user.ts
  src/graphql/types/index.ts
  src/graphql/types/resolvers.ts
  src/graphql/types/scalars.ts
  src/graphql/types/schema.ts
  src/graphql/utils/permissions.ts
  src/graphql/utils/typeDefs.ts
  src/index.ts
  src/server.ts
  src/types.ts
  src/utils.ts
  tests/it/context.ts
  tests/it/data/db.ts
  tests/it/server.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

perf: reduce columns in select statements
  README.md
  package.json
  pnpm-lock.yaml
  src/datasources/index.ts
  src/graphql/resolvers/todo.ts
  src/graphql/resolvers/user.ts
  src/graphql/types/mappers.ts
  src/graphql/utils/index.ts
  src/graphql/utils/resolvers.ts
  src/index.ts
  src/types.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

perf(db): fix and add sort indexes
  prisma/migrations/20230805103305_fix_and_add_sort_indexes/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: none

chore: clean npm scripts
  package.json
Due: prettier --write

chore: use prettier cache
  .lintstagedrc.json
  package.json
Due: prettier --write

refactor: ease introspection query detection method
  package.json
  pnpm-lock.yaml
  src/utils.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

change!: allow user nodes to be queried by other users
  src/graphql/resolvers/node.ts
  tests/it/graphql/node/node.test.ts
  tests/it/graphql/types/schema.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

change!: allow todo nodes to be queried by non-owners
  .eslintrc.json
  prisma/migrations/20230806131905_remove_todo_id_user_id_idx/migration.sql
  prisma/schema.prisma
  src/graphql/resolvers/node.ts
  src/graphql/resolvers/todo.ts
  src/graphql/types/mappers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

change!: make the permissions stricter
  src/graphql/permissions/todo.ts
  src/graphql/permissions/user.ts
  tests/it/graphql/node/node.test.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

perf(db): shrink and fix ulid column sizes
  prisma/migrations/20230807061118_shrink_ulid_column_sizes/migration.sql
Due: none

change: nanoid -> ulid
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  prisma/seed.ts
  src/graphql/resolvers/todo.ts
  src/graphql/resolvers/user.ts
  src/logger.ts
  tests/it/data/db.ts
  tests/it/data/graph.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(dev): don't restart db service
  docker-compose.yml
Due: prettier --write

refactor: make some node types variables
  src/modules/todo/adapters.ts
  src/modules/todo/parsers.ts
  src/modules/todo/typeDefs.ts
  src/modules/user/adapters.ts
  src/modules/user/parsers.ts
  src/modules/user/typeDefs.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: clean parsers
  src/modules/common/parsers.ts
  src/modules/node/parsers.ts
  src/modules/todo/parsers.ts
  src/modules/user/parsers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

fix: a small fix to error handling middleware
  src/middlewares.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: don't embed non-error value to GraphQLError.extensions
  src/middlewares.ts
  src/server.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write
