Repository rusconn/ts-graphql-example: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "sh -c 'tsc --noEmit'",
  "*.{js,ts}": "eslint --cache --fix",
  "*.{js,ts,json,yml,md}": "prettier --write"
}

fix(log): add internal error info to error log
  src/server.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(log): enable source maps
  .swcrc
  package.json
Due: prettier --write

refactor: clean codegen.ts
  codegen.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: use custom scalar resolvers to convert values
  codegen.ts
  src/modules/common/schema.ts
  src/modules/scalar/parsers.ts
  src/modules/scalar/resolvers.ts
  src/modules/todo/adapters.ts
  src/modules/user/adapters.ts
  tests/it/modules/schema.ts
  tests/it/modules/todo/createTodo.test.ts
  tests/it/modules/todo/updateTodo.test.ts
  tests/it/modules/user/login.test.ts
  tests/it/modules/user/signup.test.ts
  tests/it/modules/user/updateMe.test.ts
  tests/it/modules/user/user.test.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor(test): wide scalar types for simplicity
  codegen.ts
  src/modules/scalar/parsers.ts
  tests/it/modules/schema.ts
  tests/it/modules/todo/createTodo.test.ts
  tests/it/modules/todo/updateTodo.test.ts
  tests/it/modules/user/login.test.ts
  tests/it/modules/user/signup.test.ts
  tests/it/modules/user/updateMe.test.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: narrow ID output type for rigor
  codegen.ts
  src/modules/common/adapters.ts
  src/modules/common/parsers.ts
  src/modules/common/schema.ts
  src/modules/scalar/adapters.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: remove unnecessary adapters
  src/modules/todo/adapters.ts
  src/modules/todo/resolvers.ts
  src/modules/user/adapters.ts
  src/modules/user/resolvers.ts
  tests/it/data/helpers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: rename, sort, etc.
  src/modules/common/adapters.ts
  src/modules/scalar/typeDefs.ts
  src/modules/todo/adapters.ts
  src/modules/user/adapters.ts
  tests/it/data/graph.ts
  tests/it/data/helpers.ts
  tests/it/helpers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(dev): docker-compose.yml -> compose.yaml
  compose.yaml
Due: none

refactor: use type-fest
  package.json
  pnpm-lock.yaml
  src/generic/types.ts
  src/modules/scalar/adapters.ts
  src/modules/scalar/parsers.ts
  src/modules/todo/resolvers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

fix: make it possible to get Todo through the node interface
  src/modules/node/resolvers.ts
  src/modules/todo/resolvers.ts
  src/modules/user/resolvers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

fix: avoid misinterpreting queries include __typename as introspection
  src/generic/graphql.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(dev): use extension for .env files
  .vscode/settings.json
Due: prettier --write

fix(test): add lacking Node tests and path tests
  tests/it/modules/schema.ts
  tests/it/modules/todo/Node.test.ts
  tests/it/modules/todo/User.todo.test.ts
  tests/it/modules/todo/User.todos.test.ts
  tests/it/modules/user/Node.test.ts
  tests/it/modules/user/user.test.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

fix: prevent from getting other's User.todo
  src/modules/todo/permissions.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: remove PrismaSelect (@paljs/plugins) due to lack of support for union types
  README.md
  package.json
  pnpm-lock.yaml
  src/datasources/index.ts
  src/modules/common/resolvers.ts
  src/modules/todo/resolvers.ts
  src/modules/user/resolvers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: clean permission checks
  src/modules/node/resolvers.ts
  src/modules/todo/permissions.ts
  src/modules/todo/resolvers.ts
  src/modules/user/resolvers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: remove datasources layer
  README.md
  prisma/seed.ts
  src/datasources/errors.ts
  src/datasources/index.ts
  src/index.ts
  src/middlewares.ts
  src/modules/common/resolvers.ts
  src/modules/todo/adapters.ts
  src/modules/todo/parsers.ts
  src/modules/todo/resolvers.ts
  src/modules/user/adapters.ts
  src/modules/user/parsers.ts
  src/modules/user/resolvers.ts
  src/prisma/client.ts
  src/prisma/errors.ts
  src/prisma/index.ts
  tests/it/context.ts
  tests/it/data/db.ts
  tests/it/data/helpers.ts
  tests/it/datasources.ts
  tests/it/helpers.ts
  tests/it/modules/node/node.test.ts
  tests/it/modules/todo/Node.test.ts
  tests/it/modules/todo/User.todo.test.ts
  tests/it/modules/todo/User.todos.test.ts
  tests/it/modules/todo/completeTodo.test.ts
  tests/it/modules/todo/createTodo.test.ts
  tests/it/modules/todo/deleteTodo.test.ts
  tests/it/modules/todo/uncompleteTodo.test.ts
  tests/it/modules/todo/updateTodo.test.ts
  tests/it/modules/user/Node.test.ts
  tests/it/modules/user/deleteMe.test.ts
  tests/it/modules/user/login.test.ts
  tests/it/modules/user/logout.test.ts
  tests/it/modules/user/me.test.ts
  tests/it/modules/user/signup.test.ts
  tests/it/modules/user/updateMe.test.ts
  tests/it/modules/user/user.test.ts
  tests/it/modules/user/users.test.ts
  tests/it/server.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: rename entrypoint file
  package.json
  src/main.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

change!: User.todo returns NotFound if specified todo is not owned by querier
  prisma/migrations/20230926103258_add_todo_id_user_id_index/migration.sql
  prisma/schema.prisma
  src/modules/todo/resolvers.ts
  tests/it/modules/todo/User.todo.test.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(dev): enable sourceMap for accurate stack traces
  tsconfig.json
Due: prettier --write

chore: update README
  README.md
Due: prettier --write

refactor: remove login transactions as they are unnecessary for almost all use cases
  src/modules/user/resolvers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: format, simplify, rename, ...
  src/datasources/prisma.ts
  src/generic/console.ts
  src/modules/common/permissions.ts
  src/modules/todo/permissions.ts
  src/modules/todo/resolvers.ts
  src/modules/user/permissions.ts
  src/modules/user/resolvers.ts
  tests/it/modules/node/node.test.ts
  tests/it/modules/schema.ts
  tests/it/modules/todo/Node.test.ts
  tests/it/modules/todo/User.todo.test.ts
  tests/it/modules/todo/User.todos.test.ts
  tests/it/modules/todo/completeTodo.test.ts
  tests/it/modules/todo/createTodo.test.ts
  tests/it/modules/todo/deleteTodo.test.ts
  tests/it/modules/todo/uncompleteTodo.test.ts
  tests/it/modules/todo/updateTodo.test.ts
  tests/it/modules/user/Node.test.ts
  tests/it/modules/user/deleteMe.test.ts
  tests/it/modules/user/login.test.ts
  tests/it/modules/user/logout.test.ts
  tests/it/modules/user/me.test.ts
  tests/it/modules/user/signup.test.ts
  tests/it/modules/user/updateMe.test.ts
  tests/it/modules/user/user.test.ts
  tests/it/modules/user/users.test.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(build): clean out-dir when build
  package.json
Due: prettier --write

chore(build): copy non-compilable files when build
  package.json
Due: prettier --write

chore: add DB ID format section to README
  README.md
Due: prettier --write

chore(deps): upgrade @apollo/server and graphql
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): upgrade prisma and @prisma/client
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): upgrade bcrypt
  package.json
  pnpm-lock.yaml
Due: prettier --write

change!: make createdAt and updatedAt nullable
  src/modules/common/schema.ts
  src/modules/todo/typeDefs.ts
  src/modules/user/typeDefs.ts
  tests/it/modules/schema.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore(doc): add nullability section to README
  README.md
Due: prettier --write

refactor: use context logger in middleware
  src/middlewares.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

fix(log): make requestId unique
  src/logger.ts
  src/main.ts
  tests/it/server.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

change(log): requestId ulid -> uuid
  src/logger.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

chore: remove unnecessary npm script
  package.json
Due: prettier --write

refactor: Apollo Server -> GraphQL Yoga
  README.md
  codegen.ts
  package.json
  pnpm-lock.yaml
  src/config.ts
  src/generic/graphql.ts
  src/logger.ts
  src/main.ts
  src/modules/common/resolvers.ts
  src/modules/common/schema.ts
  src/server.ts
  tests/it/data/helpers.ts
  tests/it/modules/user/login.test.ts
  tests/it/server.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: clean error handling in middleware
  src/middlewares.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

fix: add lacking await
  src/modules/user/resolvers.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write

refactor: drop graphql-shield
  README.md
  package.json
  pnpm-lock.yaml
  src/middlewares.ts
  src/modules/common/authorizers.ts
  src/modules/common/permissions.ts
  src/modules/common/resolvers.ts
  src/modules/node/authorizers.ts
  src/modules/node/permissions.ts
  src/modules/node/resolvers.ts
  src/modules/todo/authorizers.ts
  src/modules/todo/permissions.ts
  src/modules/todo/resolvers.ts
  src/modules/user/authorizers.ts
  src/modules/user/permissions.ts
  src/modules/user/resolvers.ts
  src/permissions.ts
Due: sh -c 'tsc --noEmit', eslint --cache --fix, prettier --write
